<!DOCTYPE html>
<html>
	<body>
	<head>
	  <title>Lisa's App</title>

	</head>

	<body style="background-color:#E6E6FA;
		font-family:arial;
		color:grey;font-size:20px">
		
		<NAV>
			<UL>
				<LI><a href="/">Home</a></LI>
				<LI><a href="/about">About</a></LI>
				<LI><a href="/contact">Contact</a></LI>
			</UL>
		</NAV>

	<%= yield %>

	</body>
</html>