<!DOCTYPE html>
<html>
	<head>
	  <title>Lisa's App</title>
	</head>

	<body style="font-family:arial;
		color:red;font-size:20px">

		<HEADER>
			<H1>Hidey Ho Winslows...</H1>
		</HEADER>
		<NAV>
			<UL>
				<LI><a href="/profile/:id">Profile</a></LI>
				<LI><a href="/about">About</a></LI>
				<LI><a href="/contact">Contact</a></LI>
			</UL>
		</NAV>

	<%= yield %>

	</body>
</html>